@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Orbitron:wght@400..900&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #00183e;
  color: #fff;
  font-family: "Michroma", sans-serif;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  text-align: center;
}

.btn {
  border: 0;
  background-color: #fff;
  color: #516dff;
  padding: 15px 20px;
  font-family: inherit;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

.btn:focus {
  outline: 0;
}

.screen {
   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  transition: margin 0.5s ease-out;

}

.choose-star-btn img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.screen.up {
  margin-top: -100vh;
  
}

a {
  color: #fff;
}

h1 {
  line-height: 1.4;
}


.stars-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.stars-list li {
  margin: 10px;
}

.choose-star-btn {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  width: 180px;
  height: 180px;
}

.choose-star-btn:hover {
  background-color: white;
  color: #516dff;
}

.choose-star-btn:active {
  background-color: rgba(255, 255, 255, 0.7);
}


.time, .score {
  position: absolute;
  top: 20px;
}

.time {
  left: 20px;
}

.score {
  right: 20px;
}



.message {
  line-height: 1.7;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 20px;
  z-index: 100;
  text-align: center;
  opacity: 0;
  position: absolute;
  /* top: 0; */
  left: 50%;
  transform: translate(-50%, -150%);
  transition: transform 0.4s ease-in;
}

.message.visible {
  transform: translate(-50%, 150%);
  opacity: 1;
}

.star {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  position: absolute;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.3s ease-in-out;

  top: 200px;
  left: 300px;
}

.star img {
  width: 80px;
  height: 80px;
}

.star.caught {
  transform: translate(-50%, -50%) scale(0);
}
